{% extends 'courses/layout.html' %}
{% block body %}
<h1>{{ course.course_code }} | {{ course.course_name }}</h1>
<ul>
    <li>Semester: {{ course.semester }}/{{ course.year }}</li>
    <li>Seat: {{ course.seat }}</li>
</ul>

<h2>Registrants</h2>
<ul>
    {% for enrolment in enrolments %}
    <li>{{ enrolment }}</li>
    {% empty %}
    <li>No registrants.</li>
    {% endfor %}
</ul>

<h2>Add Quota</h2>
{% if course.enrolments.count != course.seat and course.quota == 'OPEN' %}
<form action="{% url 'courses:enroll' course.id %}" method="post">
    {% csrf_token %} 
    <select name="enrolment">
        {% for enrolment in nonenrolments %}
        <option value="{{ enrolment.id }}">{{ enrolment }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add Quota">
</form>
{% elif course.enrolments.count != course.seat and course.quota == 'CLOSED' %}
<p style="color:red">QUOTA IS CLOSED</p>
{% else %}
<p style="color:red">QUOTA IS FULL</p>
{% endif %}

<form action="{% url 'courses:cancel' course.id %}" method="post">
    {% csrf_token %} 
    <select name="enrolment">
        {% for enrolment in enrolments %}
        <option value="{{ enrolment.id }}">{{ enrolment }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Cancel Quota">
</form>

<a href="{% url 'courses:index' %}">Go Back</a>
{% endblock %}